ParseHeader erroneously accepts spaces in header names

This is an issue that I encountered in Aerc, which uses this library:

https://todo.sr.ht/~sircmpwn/aerc2/341

According to [RFC5322](https://tools.ietf.org/html/rfc5322#section-2.2), spaces are not valid in email header field names. This parser, however, erroneously accepts headers with spaces in them. Relevant code is linked [here](https://github.com/emersion/go-message/blob/5c83a6521b32987178c796706447a226443bfb7f/textproto/header.go#L380). I noticed a reference to RFC 7230 in this code, but I'm not familiar enough to understand why. Should we be following RFC 7320 or RFC 5322 for the email headers?

Let me know if I'm missing something or misunderstanding the RFCs. And I'd be happy to submit a pull request to fix this! :)

Put together a pull request to resolve this -- let me know if I'm off-base or if this shouldn't be fixed